# Ignorar pastas de build e IDE em qualquer subpasta
**/bin/
**/obj/
**/.vs/

# Arquivos de configuração pessoal do Visual Studio
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates

# Logs e temporários
**/*.log
**/*.tmp
**/*.bak
**/*.cache

# Diretórios de publicação e testes
**/publish/
**/TestResults/

# Pacotes NuGet
**/packages/
**/*.nupkg
**/*.snupkg
**/*.nuspec

# Arquivos de sistema
Thumbs.db
Desktop.ini
